*__pycache__/
*.pt
*.pickle
*/*.xml
*/*.iml
data/
venv/
*.vectors
*.log
*.txt
*.trained_model
*~
*.tensors
*.alphabet
.mypy_cache/
nohup.out
*.ess
*.test
*.train
finite_state_morphology/
*.model
*.vector
*.tsv
log
*.vocab
